body { font-size: 12px; font-family: microsoft yahei; }
.w { width: 942px; margin: 0 auto; }
.hidden, .hide { display: none; }
.header { height: 87px; }
.logo { padding-top: 17px; float: left; width: 303px; }
.search { float: left; position: relative; padding-top: 28px; width: 492px; }
.search-input { width: 392px; height: 29px; line-height: 29px; color: #666; padding: 0 5px; border: 1px solid #d6d6d6; border-right: 0; background: #fff; outline: none; }
.search-submit { width: 63px; height: 31px; line-height: 31px; color: #fff; background: #fb7702; display: block; position: absolute; top: 28px; left: 402px; text-align: center; font-size: 16px; }
.contact { float: left; padding-top: 22px; font-size: 18px; font-family: Georgia; }
.contact .phone { height: 20px; line-height: 20px; color: #a0a0a0; background: url(../images/icon.png) 0 0 no-repeat; padding-left: 28px; margin-bottom: 4px; }
.contact .qq { height: 20px; line-height: 20px; color: #a0a0a0; background: url(../images/icon.png) 0 -24px no-repeat; padding-left: 28px; }
.nav { height: 32px; line-height: 32px; background: #197ad9; color: #fff; font-size: 14px; }
.nav a:link, .nav a:visited { color: #fff; }
.navcon-cate { width: 180px; float: left; background: #0455a3; height: 32px; text-align: center; }
.navcon-cate-title span { background: url(../images/arrow.png) no-repeat; width: 16px; height: 16px; display: inline-block; position: relative; top: 3px; margin-left: 5px; }
.navcon-menu { float: left; padding-left: 20px; }
.navcon-menu li { float: left; width: 100px; }
.navcon-menu li a { display: block; height: 32px; text-align: center; }
.navcon-menu li a:hover { background: #2185e7; }
.slides li { height: 478px; }
.slides a { display: block; height: 478px; width: 100%; }
.navgation { height: 154px; background: #000; }
.brand { float: left; width: 313px; margin-right: 2px; }
.brand .head { height: 44px; overflow: hidden; }
.brand3 { width: 311px; margin-right: 0; }
.brand .services { height: 85px; font-size: 16px; color: #fff; padding: 25px 0 0 34px; }
.brand .services a:link, .brand .services a:visited { color: #fff; }
.brand .services a:hover { text-decoration: underline; }
.brand1 .services { background: #1879d6; }
.brand2 .services { background: #f0387e; }
.brand3 .services { background: #92c444; }
.brand .services li { width: 90px; float: left; height: 30px; }
.outdoor { margin-top: 35px; }
.outdoor-content { margin-top: 55px; }
.outdoor ul { margin: 0 -12px; }
.outdoor li { float: left; margin: 0 12px 22px; }
.ic, .same .tit-list li a { background-image: url(../images/ic.png); _background-image: url(../images/ic8.png); background-repeat: no-repeat }
.lv-title { font-family: microsoft yahei; font-size: 22px; font-weight: 700; height: 40px; line-height: 40px; color: #666; }
.hotel .super { position: relative }
.hotel .super .p-img img { width: 210px; height: 432px }
.hotel .super .p-name { width: 108px }
.hotel .super .gray-extra { width: 190px }
.hotel .lv-title { border-bottom: 3px solid #62a8e8 }
.hotel .tab { height: 432px; width: 695px; float: left }
.hotel .tab-con { height: 432px; width: 695px }
.hotel .tab-con .left .left-list li { float: left; }
.hotel .tab-con .left .left-list li, .hotel .tab-con .left .left-list li img { width: 322px; height: 200px }
.hotel .tab-con .left .left-list li .gray-extra { bottom: -1px }
.hotel .com-left .grand-wrap { height: 188px }
.hotel .com-left .grand-wrap .grand { height: 168px }
.hotel .com-left .grand-wrap .grand h3 { border-left: 3px solid #62a8e8 }
.hotel .com-left .grand-wrap .grand .list { height: 148px }
.hotel .com-left .brand-min { width: 280px; height: 102px; line-height: 102px; background-color: #f8f8f8 }
.hotel .com-left .brand-min img { width: 280px; height: 102px }
.hotel .com-left .brand-min b { float: right; font-family: microsoft yahei; font-size: 24px; color: #62a8e8; font-weight: 700; padding-right: 20px }
.hotel .com-left .brand-min .listinfo { width: 294px; height: 107px; display: block }
.hotel .com-left .brand-min .ic { font-family: microsoft yahei; font-size: 24px; color: #62a8e8; font-weight: 700; background-position: -325px -236px; padding: 30px 0 25px 99px }
.hotel .com-left .brand-min .ic2 { background-position: -321px -314px }
.hotel .tit { border-bottom: 3px solid #62a8e8 }
.hotel .tit .more, .hotel .tit .more:hover { color: #62a8e8 }
.hotel .tit .tit-list li a { background-position: -119px -348px; color: #62a8e8 }
.hotel .tit .tit-list li a:hover { color: #62a8e8; background-position: 0 -359px }
.hotel .tit .tit-list li.curr a { background-position: 0 -359px; color: #62a8e8 }
.same { overflow: hidden }
.same .right { width: 650px }
.same h3 { height: 18px; line-height: 18px; font-size: 14px; color: #666; border-left: 3px solid #87b44f; padding-left: 7px }
.same .com-left { width: 280px }
.same .com-left .grand-wrap { height: 134px; background: #f8f8f8; padding-bottom: 20px; overflow: hidden }
.same .com-left .brand-min { margin-top: 10px }
.same .com-left .grand { padding: 20px 10px 0; height: 140px; overflow: hidden }
.same .com-left .grand .list { padding-top: 10px }
.same .com-left .grand .list li { width: 275px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap }
.same .com-left .grand .list a { margin: 0 8px; line-height: 23px; white-space: nowrap; display: inline-block; color: #666; }
.same .com-left .grand .list a:hover { color: #333; }
.same .tit { height: 40px; line-height: 40px; margin-bottom: 10px; border-bottom: 3px solid #62a8e8 }
.same .tit .more { width: 113px; height: 33px; font-size: 14px; font-family: microsoft yahei; line-height: 33px; color: #62a8e8; border: 1px solid #ddd; text-align: center; font-weight: 700 }
.same .tit .more:hover { text-decoration: none }
.same .tit .tit-list { font-family: microsoft yahei; font-size: 14px; overflow: hidden; width: 535px; height: 40px }
.same .tit .tit-list li { float: left; overflow: hidden; height: 40px }
.same .tit .tit-list li.curr a { color: #62a8e8; font-weight: 700; text-decoration: none; background-position: -520px -159px }
.same .tit .tit-list li a { padding: 0 10px 0 30px; background-position: -513px -98px; display: inline-block; height: 40px; line-height: 40px }
.same .tit .tit-list li a:hover { color: #62a8e8; font-weight: 700; text-decoration: none; background-position: -520px -159px }
.same .tab, .same .tab-con { width: 905px; overflow: hidden }
.same .tab-con .super { position: relative }
.same .tab-con .super .p-name { width: 108px }
.same .tab-con .super .mask-extra { left: 12px; bottom: 20px; width: 165px; padding: 0 10px }
.same .tab-con .super .mask-extra .text1 { font-size: 22px; height: 47px; line-height: 47px }
.same .tab-con .super .mask-extra .text2 { font-size: 18px; height: 47px; line-height: 47px }
.same .tab-con .super .mask-extra .text2 .fmv { font-family: verdana }
.same .tab-con .super .gray-extra { width: 190px }
.same .tab-con .left .leftt { position: relative }
.same .tab-con .left .leftt .mask-extra { bottom: 88px; left: 10px }
.same .tab-con .left .left-list .fore1, .same .tab-con .left .left-list .fore3 { margin-right: 10px; _display: inline }
.same .tab-con .left .left-list .fore1, .same .tab-con .left .left-list .fore2 { margin-bottom: 10px }
.same .tab-con .left .left-list li { position: relative; width: 322px; height: 200px }
.same .tab-con .left .left-list li .gray-extra { width: 302px; position: absolute; left: 0; bottom: 0; height: 34px; line-height: 34px; background: rgba(255, 255, 255, .8); font-size: 14px; color: #000; padding: 0 10px; filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#CCF8F8F8', endColorstr='#CCF8F8F8') }
.same .gray-extra .p-price { float: right; font-size: 20px; font-weight: bold; color: #fb7702; }
.same .gray-extra .p-name { float: left; width: 228px }
.tickets{ padding-top: 7px;}
.tickets ul{ margin: 0 -4px;}
.tickets li{ position: relative; width: 265px; float: left; margin: 0 4px;}
.tickets li .gray-extra { width: 245px; position: absolute; left: 0; bottom: 0; height: 34px; line-height: 34px; background: rgba(255, 255, 255, .8); font-size: 14px; color: #000; padding: 0 10px; filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#CCF8F8F8', endColorstr='#CCF8F8F8') }
.tickets .gray-extra .p-price { float: right; font-size: 20px; font-weight: bold; color: #fb7702; }
.tickets .gray-extra .p-name { float: left; width: 160px;}

.diving-content { margin-top: 55px; }
.diving ul { margin: 0 -12px; }
.diving li { float: left; margin: 0 11px 22px; }
.pic { width: 942px; height: 467px; margin: 0 auto 30px; }
.pic ul li { list-style: none; width: 100px; height: 466px; float: left; }
.pic .l1 { background-image: url(../images/1.jpg); }
.pic .l2 { background-image: url(../images/2.jpg); }
.pic .l3 { background-image: url(../images/3.jpg); }
.pic .l4 { background-image: url(../images/4.jpg); width: 730px; }
.cross-country { margin-top: 10px; }
.multi{}
.multi .col-left{width: 539px; float: left;}
.multi .col-right{width: 392px; float: right;}
.multi-head{ font-size: 22px; font-weight: bold; color: #666; border-bottom: 4px solid #b477db; position: relative;}
.youji{ margin-bottom: 10px;}
.youji li{ height: 37px; line-height: 37px; color: #666; font-size: 15px; background: url(../images/arrow3.png) 16px center no-repeat; padding-left: 30px;}
.youji li a:link,
.youji li a:visited{ color: #666;}
.youji li a:hover{ color: #333;}
.youji li.odd{ background-color: #f7f7f7;}
.youji{ border: 1px solid #e4e4e4; border-top: 0;}
.visa{ padding: 18px 0 0 18px; background: #f8f8f8;}
.visa li{ float: left; width: 124px; margin-bottom: 20px;}
.visa li img{float: left; margin-right: 3px;}
.visa li a:link,
.visa li a:visited{ color: #666;}
.visa li a:hover{ color: #000;}

.multi.same .tit .tit-list{ position: absolute; top: 0; left: 117px; width: 422px;}
.multi.same .tit{ border-bottom: 4px solid #b477db;}
.multi.same .tit .tit-list li.curr a{ color: #b477db; background-position: 0 -309px; color: #b477db;  font-weight: bold;}
.multi.same .tit .tit-list li a{ background-position: -119px -298px; color: #b477db; font-weight: normal;}
.multi.same .tit .tit-list li a:hover{ background-position: 0 -309px; color: #b477db; font-weight: bold;}

.foot { height: 276px; background: #474747; margin-top: 50px;}
.foot-logo { clear: both; height: 180px; float: left; width: auto; margin-top: 40px; float: left; background: url(../images/ftbbg.png) right center no-repeat; padding-right: 45px; }
.foot-logo img{ margin-top: 30px;}
.footnav { float: left; color: #FFF; font-size: 16px;  margin-top: 40px; margin-left: 40px; background: url(../images/ftbbg.png) right center no-repeat; }
.footnav dt { display: block; width: 80px; text-align: left; border-bottom: 1px #FFF solid; height: 30px; line-height: 30px; }
.footnav dl { float: left; padding-right: 60px; padding-left: 20px; }
.footnav dd { padding-top: 5px; color: #FFF; }
.footnav dd a { color: #FFF; text-decoration: none; font-size: 12px; }
.weixin img { margin-top: 80px; margin-left: 30px; }
.weixin span { margin-left: 57px; padding-top: 30px; color: #FFF; line-height: 35px; }