/* virtuals-lvyou/2015 index.css Date:2016-04-21 18:29:44 */
.mt h2, .smt h3 { font-family: "microsoft yahei" }
h2, h3 { font-size: 14px }
.m, .sm { margin-bottom: 10px }
.m, .mb, .mc, .mt, .sm, .smb, .smc, .smt { overflow: hidden; zoom: 1 }
.tab a, .tab li, .tab-item { float: left; text-align: center }
.ic, .same .tit-list li a { background-image: url(//misc.360buyimg.com/virtuals/lvyou/2015/css/i/ic.png); _background-image: url(//misc.360buyimg.com/virtuals/lvyou/2015/css/i/ic8.png); background-repeat: no-repeat }
.recommend { width: 382px }
.recommend .fn { width: 372px }
.recommend .fn a { width: 62px }
.recommend .tab li { margin-right: 1px }
.flight { overflow: visible }
.banner, .banner-narrow { width: 730px; height: 356px; overflow: hidden; position: relative; margin-top: 10px; *margin-top: 20px; display: none }
.banner .banner-controls, .banner-narrow .banner-controls { position: absolute; right: 19px; bottom: 15px }
.banner .banner-controls span, .banner-narrow .banner-controls span { width: 16px; height: 16px; display: inline-block; background-color: #bcbcbc; border-radius: 50%; margin-left: 10px; cursor: pointer }
.banner .banner-controls span.curr, .banner-narrow .banner-controls span.curr { background-color: #ff872e }
.banner img { width: 730px; height: 356px }
.banner-narrow { width: 510px; display: block }
.banner-narrow img { width: 510px; height: 356px }
.choose { border: 7px solid #ffae2e; border-radius: 8px; width: 316px; height: 305px; position: relative; padding-left: 140px }
.choose .sm { margin-bottom: 0; overflow: visible }
.choose .smt { position: absolute; top: 0; left: 0; width: 140px; height: 43px; line-height: 43px; font-family: simsun; font-size: 14px; background-color: #f8f8f8; border-top: 1px solid #dedede; border-right: 1px solid #dedede; cursor: pointer }
.choose .smt h3 { padding-left: 45px }
.choose .smc { display: none; overflow: visible }
.choose .hot { padding: 20px 0 0; margin: 20px 0 0 25px; border-top: 1px solid #dedede; width: 259px; overflow: hidden }
.choose .hot .hot-tit { font-weight: 400; padding-bottom: 10px; font-family: simsun }
.choose .hot .hot-city { height: 75px; overflow: hidden }
.choose .hot a { padding-right: 10px; white-space: nowrap; float: left }
.choose .hot strong { font-weight: 400; float: left }
.choose .hot li { height: 30px; line-height: 30px; overflow: hidden; width: 280px }
.choose .curr .smt { background-color: #fff; border-right: 1px solid #fff }
.choose .curr .smt h3 { font-weight: 700; color: #333 }
.choose .curr .smc { display: block }
.choose .fore1 h3 { background-position: 9px -49px }
.choose .fore2 h3 { background-position: -167px -49px }
.choose .fore2 .smt { top: 43px; left: 0 }
.choose .fore3 h3 { background-position: -167px -99px }
.choose .fore3 .smt { top: 86px; left: 0 }
.choose .fore4 h3 { background-position: -170px -145px }
.choose .fore4 .smt { top: 129px; left: 0 }
.choose .fore5 h3 { background-position: 12px -99px }
.choose .fore5 .smt { top: 173px; left: 0 }
.choose .fore6 h3 { background-position: 10px -149px }
.choose .fore6 .smt { top: 217px; left: 0 }
.choose .fore7 h3 { background-position: -168px -196px }
.choose .fore7 .smt { top: 261px; left: 0 }
.choose .fore7 .search-area input { width: 70px; float: left }
.choose .fore7 .search-area .xuanze { float: left; margin-left: 5px }
.choose .fore7 .car-time .virselect { width: 52px }
.choose .fore7 .car-time .select-ul { width: 50px }
.choose .fore7 .search-btn .button { width: 206px }
.search-form { padding: 30px 0 0 24px }
.search-form .unsame .inputarea { border: 1px solid #e4393c; background-color: #fff5f5; color: #e8393c }
.search-form .ic { width: 40px; height: 42px; position: absolute; top: 45px; right: 20px; background-position: -560px 0 }
.search-form .item { clear: both; height: 32px; margin-bottom: 10px }
.search-form .nonegray .inputarea { background-color: #dfdfdf; color: #aaa }
.search-form .search-area, .search-form .search-tit { float: left }
.search-form .search-tit { line-height: 30px; width: 60px }
.search-form .inputarea { border: 1px solid #ccc; padding: 8px; width: 152px; height: 14px; line-height: 1; color: #333 }
.search-form .none-se { color: #999 }
.search-radio { line-height: 30px }
.search-radio input { margin: 0 5px 0 0; padding: 0; vertical-align: middle }
.search-radio label { margin-right: 30px }
.search-btn { padding: 0 0 0 60px }
.search-btn .button { background: #ff872e; border: 0; font-size: 16px; font-family: microsoft yahei; width: 170px; height: 36px; line-height: 36px; text-align: center; color: #fff; font-weight: 700; cursor: pointer }
.choose-tit { height: 47px; margin-top: 10px; width: 469px; text-indent: -999em }
.mask-extra { position: absolute; font-family: microsoft yahei; font-size: 16px; color: #fff; left: 0; bottom: 0; background: rgba(0, 0, 0, .3); line-height: 20px; padding: 5px 10px; filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#4B000000', endColorstr='#4B000000'); text-align: center }
.mask-extra .text1, .mask-extra .text2 { display: block; line-height: 55px }
.mask-extra .text1 { font-size: 33px; font-weight: 700 }
.mask-extra .text2 { font-size: 24px; border-top: 1px solid #fff }
.gray-extra { background: rgba(248, 248, 248, .8); filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#CCF8F8F8', endColorstr='#CCF8F8F8'); padding: 0 10px; position: absolute; left: 0; bottom: 0; text-align: left; overflow: hidden; height: 30px; line-height: 30px }
.gray-extra .p-name { font-size: 14px; overflow: hidden; color: #333; font-family: simsun; width: 285px }
.gray-extra .p-price { font-size: 22px; color: #e4393c; font-family: verdana; position: absolute; right: 10px; top: 0 }
.gray-extra .p-price i { font-size: 16px; font-style: normal }
.gray-extra .p-price s { font-size: 14px; color: #aaa; padding-left: 10px; display: none }
.gray-extraHover { opacity: .8; transform: perspective(300px) rotateX(0deg); visibility: visible }
.listinfo { display: block; float: none; cursor: pointer }
.listinfo:hover { text-decoration: none }
.listinfo:hover .mask-extra { color: #fff }
.theme { overflow: hidden }
.theme .p-img { *display: inline }
.theme .listinfo { display: block }
.theme .right { position: relative; padding-top: 40px; width: 380px; overflow: hidden }
.theme .right .lv-title { position: absolute; top: 0; left: 0 }
.theme .right .list .p-img { width: 380px; overflow: hidden; height: 220px }
.theme .right .super { position: absolute; top: 40px; left: 0; width: 210px; height: 450px }
.theme .right .super .gray-extra { width: 190px; height: 55px }
.theme .right .super .gray-extra .p-name { height: 30px; line-height: 30px; overflow: hidden; width: 190px }
.theme .right .super .gray-extra .p-price { line-height: 17px; top: 30px; left: 10px }
.theme .right li { margin-bottom: 10px; position: relative; height: 220px; width: 380px }
.theme .right li .gray-extra { width: 360px }
.theme .right .list { margin-bottom: -10px }
.theme .right .tips { position: absolute; top: 15px; left: 0; height: 36px }
.theme .right .tips .text { text-align: center; line-height: 34px; font-family: microsoft yahei; color: #fff; font-size: 14px; background-color: #e43a3d; float: left; padding-left: 10px }
.theme .right .tips span { display: block; height: 36px }
.theme .right .tips .ic { background-position: -351px -59px; float: left; width: 16px }
.theme .right .hover .text { display: block }
.theme .left { width: 600px; padding-top: 270px; position: relative }
.theme .left .lv-title { position: absolute; top: 0; left: 0 }
.theme .left .leftt { position: absolute; top: 40px; left: 0; text-align: center; width: 600px; height: 220px }
.theme .left .leftt .listinfo, .theme .left .leftt .p-img { width: 600px; height: 220px }
.theme .left .leftt .mask-extra { bottom: 88px; left: 15px; text-align: center }
.theme .left .left-list { *zoom: 1; width: 600px; overflow: hidden }
.theme .left .left-list .listinfo, .theme .left .left-list .p-img { width: 295px; height: 220px }
.theme .left .left-list li { float: left; _display: inline; width: 295px; height: 220px; text-align: center; position: relative }
.theme .left .left-list .fore1 { margin-right: 10px }
.theme .left .left-list .mask-extra { width: 275px; height: 30px; line-height: 30px; padding: 0 10px }
.visa { margin: 20px 0 }
.visa .right { position: relative; width: 905px; height: 70px; overflow: hidden }
.visa .right .ic { display: block; height: 70px; position: absolute; background-color: #fefefe }
.visa .right .ic:hover { background-color: #f5f5f5 }
.visa .right #mscroll-ctrl-prev { background-position: -515px -236px; left: 0; width: 30px }
.visa .right #mscroll-ctrl-prev:hover { background-position: -542px -236px }
.visa .right #mscroll-ctrl-next { background-position: -516px -288px; right: 0; width: 30px }
.visa .right #mscroll-ctrl-next:hover { background-position: -542px -288px }
.visa .right .o-list { width: 845px; height: 70px; background: #f8f8f8; padding-left: 30px }
.visa .right .o-list li { width: 167px; height: 70px; float: left }
.visa .right .o-list li .listinfo { width: 150px; height: 53px; padding: 17px 0 0 17px; cursor: pointer; display: inline-block; position: relative }
.visa .right .o-list li .listinfo:hover { color: #666; text-decoration: none }
.visa .right .o-list li .p-extra { width: 91px; margin-left: 10px; float: right; position: absolute; left: 61px }
.visa .right .o-list li .p-extra strong { font-family: verdana; font-size: 14px }
.visa .right .o-list li .p-img { position: absolute; left: 17px; top: 17px }
.visa .left { width: 85px; height: 59px; font-family: microsoft yahei; font-size: 18px; font-weight: 700; line-height: 22px; text-align: center; padding-top: 11px; background-color: #f8f8f8; _width: 79px }
.lv-title { font-family: microsoft yahei; font-size: 22px; font-weight: 700; height: 40px; line-height: 40px }
.same { overflow: hidden }
.same .right { width: 685px }
.same h3 { height: 18px; line-height: 18px; font-size: 14px; color: #666; border-left: 3px solid #87b44f; padding-left: 7px }
.same .com-left { width: 294px }
.same .com-left .grand-wrap { height: 313px; background: #f8f8f8; padding-bottom: 20px; overflow: hidden }
.same .com-left .brand-min { margin-top: 10px }
.same .com-left .grand { padding: 20px 10px 0; height: 140px; overflow: hidden }
.same .com-left .grand .list { padding-top: 10px }
.same .com-left .grand .list li { width: 275px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap }
.same .com-left .grand .list a { margin: 0 10px; line-height: 23px; white-space: nowrap; display: inline-block }
.same .com-left .grand .list a:hover { color: #666 }
.same .tit { height: 40px; line-height: 40px; margin-bottom: 10px; border-bottom: 3px solid #88b44f }
.same .tit .more { width: 113px; height: 33px; font-size: 14px; font-family: microsoft yahei; line-height: 33px; color: #88b44f; border: 1px solid #ddd; text-align: center; font-weight: 700 }
.same .tit .more:hover { text-decoration: none }
.same .tit .tit-list { font-family: microsoft yahei; font-size: 14px; overflow: hidden; width: 780px; height: 40px }
.same .tit .tit-list li { float: left; overflow: hidden; height: 40px }
.same .tit .tit-list li.curr a { color: #88b44f; font-weight: 700; text-decoration: none; background-position: -520px -159px }
.same .tit .tit-list li a { padding: 0 20px 0 30px; background-position: -513px -98px; display: inline-block; height: 40px; line-height: 40px }
.same .tit .tit-list li a:hover { color: #88b44f; font-weight: 700; text-decoration: none; background-position: -520px -159px }
.same .tab, .same .tab-con { width: 905px; height: 452px; overflow: hidden }
.same .tab-con .super { position: relative }
.same .tab-con .super .p-name { width: 108px }
.same .tab-con .super .mask-extra { left: 12px; bottom: 20px; width: 165px; padding: 0 10px }
.same .tab-con .super .mask-extra .text1 { font-size: 22px; height: 47px; line-height: 47px }
.same .tab-con .super .mask-extra .text2 { font-size: 18px; height: 47px; line-height: 47px }
.same .tab-con .super .mask-extra .text2 .fmv { font-family: verdana }
.same .tab-con .super .gray-extra { width: 190px }
.same .tab-con .left .leftt { position: relative }
.same .tab-con .left .leftt .mask-extra { bottom: 88px; left: 10px }
.same .tab-con .left .left-list .fore1, .same .tab-con .left .left-list .fore3 { margin-right: 10px; _display: inline }
.same .tab-con .left .left-list .fore1, .same .tab-con .left .left-list .fore2 { margin-bottom: 10px }
.same .tab-con .left .left-list li { position: relative; width: 338px; height: 220px }
.same .tab-con .left .left-list li .gray-extra { width: 318px }
.same .gray-extra .p-price { float: right }
.same .gray-extra .p-name { float: left; width: 228px }
.liner .lv-title, .luxian .lv-title, .ticket .lv-title { border-bottom: 3px solid #88b44f }
.liner .right .super .p-img img, .luxian .right .super .p-img img, .ticket .right .super .p-img img { width: 210px; height: 450px }
.liner .right .left .leftt img, .luxian .right .left .leftt img, .ticket .right .left .leftt img { width: 686px; height: 220px }
.liner .right .left .left-list img, .luxian .right .left .left-list img, .ticket .right .left .left-list img { width: 338px; height: 220px }
.liner .com-left .brand-min img, .luxian .com-left .brand-min img, .ticket .com-left .brand-min img { width: 294px; height: 116px }
.ticket .super .p-name { width: 108px }
.ticket .lv-title { border-bottom: 3px solid #ffae2e }
.ticket .com-left .grand-wrap h3 { border-left: 3px solid #ffae2e }
.ticket .com-left .grand-wrap .grand .list { height: 148px }
.ticket .tit { border-bottom: 3px solid #ffae2e }
.ticket .tit .more, .ticket .tit .more:hover { color: #ffae2e }
.ticket .tit .tit-list li a { background-position: -119px -248px; color: #ffae2e }
.ticket .tit .tit-list li a:hover { color: #ffae2e; background-position: 0 -259px }
.ticket .tit .tit-list li.curr a { background-position: 0 -259px; color: #ffae2e }
.liner .lv-title { border-bottom: 3px solid #b477db }
.liner .com-left .grand-wrap { height: 188px }
.liner .com-left .grand-wrap .grand { height: 168px }
.liner .com-left .grand-wrap .grand .list { overflow: hidden }
.liner .com-left .grand-wrap .grand li { float: left; width: 80px; height: 33px; margin: 0 0 20px 40px; _display: inline }
.liner .com-left .grand-wrap .grand li a { margin: 0 }
.liner .tit { border-bottom: 3px solid #b477db }
.liner .tit .more, .liner .tit .more:hover { color: #b477db }
.liner .tit .tit-list li a { background-position: -119px -298px; color: #b477db }
.liner .tit .tit-list li a:hover { color: #b477db; background-position: 0 -309px }
.liner .tit .tit-list li.curr a { background-position: 0 -309px; color: #b477db }
.hotel .super { position: relative }
.hotel .super .p-img img { width: 210px; height: 432px }
.hotel .super .p-name { width: 108px }
.hotel .super .gray-extra { width: 190px }
.hotel .lv-title { border-bottom: 3px solid #62a8e8 }
.hotel .tab { height: 432px; width: 695px; float: left }
.hotel .tab-con { height: 432px; width: 695px }
.hotel .tab-con .left .left-list li, .hotel .tab-con .left .left-list li img { width: 338px; height: 211px }
.hotel .tab-con .left .left-list li .gray-extra { bottom: -1px }
.hotel .com-left .grand-wrap { height: 188px }
.hotel .com-left .grand-wrap .grand { height: 168px }
.hotel .com-left .grand-wrap .grand h3 { border-left: 3px solid #62a8e8 }
.hotel .com-left .grand-wrap .grand .list { height: 148px }
.hotel .com-left .brand-min { width: 294px; height: 107px; line-height: 107px; background-color: #f8f8f8 }
.hotel .com-left .brand-min img { width: 294px; height: 107px }
.hotel .com-left .brand-min b { float: right; font-family: microsoft yahei; font-size: 24px; color: #62a8e8; font-weight: 700; padding-right: 20px }
.hotel .com-left .brand-min .listinfo { width: 294px; height: 107px; display: block }
.hotel .com-left .brand-min .ic { font-family: microsoft yahei; font-size: 24px; color: #62a8e8; font-weight: 700; background-position: -325px -236px; padding: 30px 0 25px 99px }
.hotel .com-left .brand-min .ic2 { background-position: -321px -314px }
.hotel .tit { border-bottom: 3px solid #62a8e8 }
.hotel .tit .more, .hotel .tit .more:hover { color: #62a8e8 }
.hotel .tit .tit-list li a { background-position: -119px -348px; color: #62a8e8 }
.hotel .tit .tit-list li a:hover { color: #62a8e8; background-position: 0 -359px }
.hotel .tit .tit-list li.curr a { background-position: 0 -359px; color: #62a8e8 }
.offer { margin-bottom: 20px }
.offer .list { width: 990px }
.offer .list li { float: left; width: 240px; _display: inline; overflow: hidden; margin-right: 10px }
.offer .list li .listinfo { position: relative; width: 240px; height: 156px; display: inline-block }
.offer .list li .listinfo img { width: 240px; height: 156px }
.offer .list li .gray-extra { width: 220px; font-size: 14px; overflow: hidden }
.offer .list li .gray-extra .p-name { width: 220px; height: 30px; line-height: 30px }
.offer .list li a:hover { color: #666 }
.offer .list .fore4 { margin: 0 }
.offer .special { position: relative; display: none }
.offer .special .p-img img { width: 210px; height: 156px }
.offer .special .mask-extra { left: 15px; bottom: 10px; width: 159px }
.offer .special .text1 { font-size: 22px; height: 47px; line-height: 47px }
.inter-offer { overflow: hidden }
.inter-offer .left, .inter-offer .right { width: 490px }
.inter-offer .tit { height: 28px; overflow: hidden; font-size: 12px }
.inter-offer .tit .more { font-weight: 400; font-family: simsun }
.inter-offer .tit .more:hover { color: #666 }
.inter-offer .tit strong { float: left }
.inter-offer .tit .list { float: left; width: 300px; overflow: hidden }
.inter-offer .tit .list li { overflow: hidden; font-weight: 400; height: 25px; text-align: center; float: left }
.inter-offer .tit .list li a { padding: 0 20px; color: #666; display: inline-block; height: 20px; line-height: 20px }
.inter-offer .tit .list li a:hover { color: #666 }
.inter-offer .tit .list li s { border-color: rgba(0, 0, 0, 0)rgba(0, 0, 0, 0)#62a8e8; border-style: dashed dashed solid; border-width: 5px; height: 0; width: 0; margin: -5px auto 0; display: none }
.inter-offer .tit .list li.curr { color: #62a8e8; border-bottom: 3px solid #62a8e8; font-weight: 700 }
.inter-offer .tit .list li.curr a { color: #62a8e8 }
.inter-offer .tit .list li.curr a:hover { color: #666; text-decoration: none }
.inter-offer .tit .list li.curr s { display: block; *display: none }
.inter-offer .table { border-left: 1px solid #ebebeb; border-top: 1px solid #ebebeb; width: 489px }
.inter-offer .table td { border-right: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; text-align: center; line-height: 25px; padding: 10px 0; color: #999 }
.inter-offer .table td .box { cursor: pointer; color: #666 }
.inter-offer .table td .wangfan { font-family: simsun }
.inter-offer .table td strong { font-size: 18px; font-family: verdana; color: #e4393c; font-weight: 700; padding-left: 15px }
.super { display: none }
.root61 .banner, .root61 .super { display: block }
.root61 .banner-narrow { display: none }
.root61 .theme .right { padding-left: 220px }
.root61 .visa .right { width: 1125px }
.root61 .visa .right .o-list { width: 1065px }
.root61 .visa .right .listinfo { width: 160px }
.root61 .visa .right li { width: 177px }
.root61 .visa .right li .p-extra { width: 99px }
.root61 .same .right { width: 905px }
.root61 .special { display: block }
.root61 .inter-offer .tit .list { width: 410px }
.root61 .inter-offer .left, .root61 .inter-offer .right { width: 600px }
.root61 .inter-offer .table { width: 599px }
.virselect { position: relative; width: 110px; *zoom: 1 }
.vircurr { z-index: 4 }
.virselect .select-ul { position: absolute; top: 29px; left: 0; border: 1px solid #ccc; border-top: 0; background: #fff; z-index: 2; width: 108px }
.virselect .select-ul li { line-height: 20px }
.virselect .select-ul li a { color: #666; text-decoration: none; padding: 0 5px; display: block }
.virselect .select-ul li a:hover { color: #333; text-decoration: none; background: #dedede }
.virselect .select-ul li a.hover { background: #dedede; color: #333 }
.virselect .select-tit { height: 30px; line-height: 30px; color: #333; border: 1px solid #ccc; padding: 0 5px }
.virselect .select-tit .arrow { width: 0; height: 0; line-height: 1; border-style: dashed dashed solid; border-color: transparent transparent #999; overflow: hidden; border-width: 5px; position: absolute; right: 5px; top: 8px; cursor: pointer }
.virselect .select-tit .down { border-style: solid dashed dashed; border-color: #999 transparent transparent; top: 13px }
.virselect .qu-ul { top: -60px; border-top: 1px solid #ccc; box-shadow: 2px 2px 2px #ccc }
.virselect .qu-ul li { line-height: 16px }
.virselect .qu-ul li a { display: block; height: 16px; line-height: 16px; text-align: center }
.virselect .huan-ul { top: -135px; border-top: 1px solid #ccc; box-shadow: 2px 2px 2px #ccc }
.virselect .huan-ul li { line-height: 16px }
.virselect .huan-ul li a { display: block; height: 16px; line-height: 16px; text-align: center }